<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/foundation.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}" />


    </head>
    <body>

      <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu" data-dropdown-menu>
                <li class="menu-text">WD6University</li>

                <!-- <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/thank-you">Thank you</a></li> -->
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
              <li>Login</li>
            </ul>
        </div>
    </div>

    <!-- <div class="grid-container"> -->
        {% block body %}{% endblock %}
    <!-- </div> -->
        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/vendor/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/vendor/what-input.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/vendor/foundation.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>


</html>
