extends ../layout

block content
	h1.center-align Cart
	if products
		.container
			.wrapper
				ul
					each p in products
						li
							span.new.badge.blue= `${p.qty}`
							strong= "Title: " + `${p.item.title}`
							p= "Price: $" + `${p.price}`
							div
								.dropdown-button.btn(href='#', data-activates='dropdown2') Delete
									ul#dropdown2.dropdown-content
										li
											a(href=`/reduce/${p.item._id}`) Reduce by 1
										li
											a(href=`/remove/${p.item._id}`) Reduce by All
			div.totalGroup
				div
					strong= "Total: $" + `${totalPrice}` 
			div.totalGroup
				div
					a.waves-effect.waves-light.btn(href="/checkout") Checkout
	else
		div
			div
				h1 No Items in Cart


