{% extends "/base.html.twig" %}

{% block body %}
<div class="grid-x grid-padding-x">
  <div class="large-6 medium-6 small-auto cell course">
    <div class="img_cart">
      <a href="#" class="img_cart_link"></a>
      <a href="/cart/addCart/{{ course.id }}" class="cart_btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i> cart </a>
      <img src="{{ course.img }}" alt="image course" />
    </div>
    <div class="grid-x">
      <h2 class="large-auto cell">{{ course.title }}</h2>
      <div class="large-4 auto price">${{ course.price }}</div>
    </div>
    <p>{{ course.description }}</p>
  </div>

  <div class="large-6 medium-6 small-auto cell course">
    <h2 class="large-auto cell">Content Course</h2>

    <ul class="no-bullet">
      <li>
        <div class="grid-x video_list">
          <div class="auto cell">Video title list</div>
          <div class="small-1 cell play_btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
        </div>
      </li>
      <li>
        <div class="grid-x video_list">
          <div class="auto cell">Video title list</div>
          <div class="small-1 cell play_btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
        </div>
      </li>
      <li>
        <div class="grid-x video_list">
          <div class="auto cell">Video title list</div>
          <div class="small-1 cell play_btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
        </div>
      </li>
      <li>
        <div class="grid-x video_list">
          <div class="auto cell">Video title list</div>
          <div class="small-1 cell play_btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
        </div>
      </li>
    </ul>


  </div>


</div>
{% endblock %}
